<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Uber Eats - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @*<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />*@
    @*<link rel="stylesheet" href="~/ubereats.styles.css" asp-append-version="true" />*@
    @*<link rel="stylesheet" href="~/css/style.css" />*@
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="https://unpkg.com/flexboxgrid2@7.2.1/flexboxgrid2.css" />
</head>
<body>
    <header class="header">
        <div class="container1">
            <div class="header_container">
                <div class="logo">
                    <form method="post" asp-area="" asp-controller="Home" asp-action="Index">
                        <input type="image" src="~/logo.svg" alt="logo" class="logo_img" width="120" asp-area="" asp-controller="Home" asp-action="Index"/>
                    </form>
                </div>
                <div class="header_buttons">
                    @if(User.Identity.IsAuthenticated)
                    {
                        <form method="post">
                            <input type="submit" class="btnEnter" value="Выйти" asp-area="" asp-controller="Authentication" asp-action="Logout" />
                        </form>
                        <img src="~/basket.png" alt="logo" class="logo_img" height="23" width="19">
                    }
                    else
                    {
                        <form method="post">
                            <input type="submit" class="btnEnter" value="Войти" asp-area="" asp-controller="Authentication" asp-action="Authentication" />
                        </form>
                        <img src="~/basket.png" alt="logo" class="logo_img" height="23" width="19">
                    }
                </div>
            </div>
        </div>
    </header>
    <main role="main" @*class="pb-3"*@ class="main">
        @RenderBody()
    </main>
    <footer class="footer">
        <div class="container1">
            <div class="footer_logo">
                <img src="~/white-logo.svg" alt="Logo">
            </div>
        </div>
    </footer>
    @*    <footer class="border-top footer text-muted">
    <div class="container">
    &copy; 2022 - ubereats - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
