@model User;
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en"> 
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Uber Eats - Authentication</title>
	<link rel="stylesheet" href="~/css/autorization.css">
</head>
<body>
    <div>
        @ViewBag.Token
    </div>
  <form method="post" action="" class="login">
    <p>
      <label asp-for="loginname"></label>
      <input asp-for="loginname" type="text" name="login" id="login" value="">
      <span asp-validation-for="loginname"></span>
    </p>

    <p>
      <label asp-for="password"></label>
      <input asp-for="password" type="password" name="password" id="password" value="">
      <span asp-validation-for="password"></span>
    </p>

    <p class="login-submit">
      <button type="submit" class="login-button" asp-area="" asp-controller="Authentication" asp-action="Login">Войти</button>
    </p>
    <p class="forgot-password"><a  asp-area="" asp-controller="Home" asp-action="Index">Вернуться на главную</a></p>
  </form>
</body>
</html>
