@using ubereats.Models.Authorization;
@model RegisterModel;


@*https://codepen.io/FlorinPop17/pen/vPKWjd*@
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en"> 
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Uber Eats - Authentication</title>
	<link rel="stylesheet" href="~/css/autorization.css">
@*	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>*@

</head>
<body>
    <h1>Вход</h1>
    <form method="post" asp-controller="Authentication" asp-action="Login" asp-antiforgery="true">
        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <div>
            <label asp-for="Username"></label><br />
            <input type="text" asp-for="Username" />
            <span asp-validation-for="Username"></span>
        </div>
        <div>
            <label asp-for="Password"></label><br />
            <input type="password" asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
        <div>
            <input type="submit" value="Save"   />
        </div>
    </form>

    <h1>Регистрация</h1>
    <form method="post" asp-controller="Authentication" asp-action="Register" asp-antiforgery="true">
        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <div>
            <label asp-for="Username"></label><br />
            <input type="text" asp-for="Username" />
            <span asp-validation-for="Username"></span>
        </div>
        <div>
            <label asp-for="Email"></label><br />
            <input type="email" asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>
        <div>
            <label asp-for="Password"></label><br />
            <input type="password" asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
        <div>
            <input type="submit" value="Save"   />
        </div>
    </form>
</body>
</html>