@{
    //ViewData["Title"] = "Uber Eats";
    ViewData["Title"] = @ViewBag.Title;
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
*@

<div class="container1">
	<input type="text" placeholder="Поиск по ресторанам и кухням" class="search" />
</div>
@*<div class="container1">
	<div class="body_head">
		Рестораны в Москве
	</div>
</div>*@
<div class="container1">
	<div class="container">
		<div class="restList">
			<div class="row">
				<div class="body_head">
					Рестораны в Москве
				</div>
			</div>
		<div class="row">
			<div class="col-xs-12 col-md-6 col-lg-4">
				<div class="card">
					<img src="~/mc.png" alt="mcdonalds" >
					<div class="restName">Макдоналдс — Газетный</div>
					<div class="restInfo">₽₽ • Бургеры</div>
					<div class="restTime">25 - 35 мин</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-6 col-lg-4">
				<div class="card">
					<img src="~/DimSum.png" alt="DimSum" >
					<div class="restName">DimSum & Co — ЦДМ</div>
					<div class="restInfo">₽ • Японская • Китайская • Азиатская</div>
					<div class="restTime">40 - 50 мин</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-6 col-lg-4">
				<div class="card">
					<img src="~/ДвижОК.png" alt="ДвижОК" >
					<div class="restName">ДвижОК — Манежная</div>
					<div class="restInfo">₽ • Американская • Европейская</div>
					<div class="restTime">35 - 45 мин</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-6 col-lg-4">
				<div class="card">
					<img src="~/НЯ.png" alt="НЯ — NHA" >
					<div class="restName">НЯ — NHA</div>
					<div class="restInfo">₽₽ • Вьетнамская</div>
					<div class="restTime">30 - 40 мин</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-6 col-lg-4">
				<div class="card">
					<img src="~/Дзы.png" alt="Точка Дзы — Цветной" >
					<div class="restName">Точка Дзы — Цветной</div>
					<div class="restInfo">₽₽ • Вьетнамская</div>
					<div class="restTime">40 - 50 мин</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-6 col-lg-4">
				<div class="card">
					<img src="~/Cinnabon.png" alt="Cinnabon" >
					<div class="restName">Cinnabon</div>
					<div class="restInfo">₽ • Выпечка • Десерты • Капкейки</div>
					<div class="restTime">25 - 35 мин</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-6 col-lg-4">
				<div class="card">
					<img src="~/PIZZELOVE.png" alt="PIZZELOVE" >
					<div class="restName">PIZZELOVE</div>
					<div class="restInfo">₽₽ • Пицца</div>
					<div class="restTime">15 - 25 мин</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-6 col-lg-4">
				<div class="card">
					<img src="~/Zю.png" alt="Zю кафе — Тверская" >
					<div class="restName">Zю кафе — Тверская</div>
					<div class="restInfo">₽₽ • Японская</div>
					<div class="restTime">25 - 35 мин</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-6 col-lg-4">
				<div class="card">
					<img src="~/BQ.png" alt="Bar BQ Cafe — Манежная" >
					<div class="restName">Bar BQ Cafe — Манежная</div>
					<div class="restInfo">₽₽₽ • Европейская</div>
					<div class="restTime">30 - 40 мин</div>
				</div>
			</div>
		</div>
		</div>
	</div>
</div>